<h1 class="title">Programmeren</h1>

<div class="columns">
  <div class="column">
    <div id="output"></div>
  </div>
  <div class="column">
    <div id="editor"></div>
    <button id="run">Run!</button>
  </div>
</div>

