<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JA Games</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            JA Games
          </a>

          <button class="button navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>

        <div class="navbar-menu" id="navMenu">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Denkspellen
            </a>

            <div class="navbar-dropdown">
              <%= link("Lunar Lander", to: "/lunar_lander", class: "navbar-item") %>
              <%= link("Programmeren", to: "/programmeren", class: "navbar-item") %>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Bordspellen
            </a>

            <div class="navbar-dropdown">
              <%= link("Santorini", to: "/santorini", class: "navbar-item") %>
              <%= link("Machi Koro", to: "/machikoro", class: "navbar-item") %>
              <%= link("Ganzenbord", to: "/ganzenbord", class: "navbar-item") %>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Overig
            </a>

            <div class="navbar-dropdown">
              <%= link("Klikker", to: "/klikker", class: "navbar-item") %>
              <%= link("Projekt Spijkerplank", to: "/spijkerplank", class: "navbar-item") %>
              <%= link("Dobbelen", to: "/dobbelen", class: "navbar-item") %>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <%= if Guardian.Plug.authenticated?(@conn, []) do %>
            <div class="navbar-item">
                <%= Guardian.Plug.current_resource(@conn).username %>
            </div>

            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <%= link(to: session_path(@conn, :delete, false), method: :delete, class: "button is-danger") do %>
                    <span class="icon">
                      <i class="fas fa-sign-out-alt"></i>
                    </span>
                    <span>Uitloggen</span>
                  <% end %>
                </p>
            </div>

          <% else %>

            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <%= link(to: session_path(@conn, :new), class: "button is-primary") do %>
                    <span class="icon">
                      <i class="fas fa-user-circle"></i>
                    </span>
                    <span>Inloggen</span>
                  <% end %>
                </p>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </nav>

    <section class="section">
      <main role="main" class="container">
        <%= if get_flash(@conn, :info) do %>
          <div class="notification is-primary">
            <%= get_flash(@conn, :info) %>
          </div>
        <% end %>

        <%= if get_flash(@conn, :error) do %>
          <div class="notification is-danger">
            <%= get_flash(@conn, :error) %>
          </div>
        <% end %>

        <%= render @view_module, @view_template, assigns %>

        <iframe class="youtube" width="560" height="315" src="https://www.youtube-nocookie.com/embed/JtkNpZ01EzY?rel=0&amp;showinfo=0&amp;start=53" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </main>
    </section>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
