<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JA Games</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            JA Games
          </a>

          <button class="button navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>

        <div class="navbar-menu" id="navMenu">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Denkspellen
            </a>

            <div class="navbar-dropdown">
              <%= link("Lunar Lander", to: "/lunar_lander", class: "navbar-item") %>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Bordpellen
            </a>

            <div class="navbar-dropdown">
              <%= link("Santorini", to: "/santorini", class: "navbar-item") %>
              <%= link("Machi Koro", to: "/machikoro", class: "navbar-item") %>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Overig
            </a>

            <div class="navbar-dropdown">
              <%= link("Klikker", to: "/klikker", class: "navbar-item") %>
              <%= link("Projekt Spijkerplank", to: "/spijkerplank", class: "navbar-item") %>
              <%= link("Dobbelen", to: "/dobbelen", class: "navbar-item") %>
            </div>
          </div>
        </div>

        <div class="navbar-menu is-hidden" id="navMenu_OLD">
          <div class="navbar-start">
            <%= link("Klikker", to: "/klikker", class: "navbar-item") %>
            <%= link("Lunar Lander", to: "/lunar_lander", class: "navbar-item") %>
            <%= link("Projekt Spijkerplank", to: "/spijkerplank", class: "navbar-item") %>
            <%= link("Santorini", to: "/santorini", class: "navbar-item") %>
            <%= link("Machi Koro", to: "/machikoro", class: "navbar-item") %>
            <%= link("Dobbelen", to: "/dobbelen", class: "navbar-item") %>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <main role="main" class="container">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </section>


    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
