/* This file is for your main application css. */

// Why is this not working!
// @import "sass/utilities/initial-variables";
// @import "sass/utilities/functions";
// @import "sass/utilities/derived-variables"

@import "bulma";

h1.title, .label {
  color: #d8d8d8;
}

body {
  color: #f5f0f0 !important;
  background: url("../../images/background.jpg") no-repeat
}

.container {
  /*touch-action: none;*/

}

.games-list {
  // background-color: white;
  background: url("../images/smiley.jpg") no-repeat;
  min-height: 538px;
}

.youtube {
  margin-top: 2em;
}
