/* Space out content a bit */
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
