#lunar_landing {
  .no_moves {
    margin: 10px;
    line-height: 2.5em;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-gap: 8px;
    grid-auto-rows: minmax(80px, auto);
    margin: 10px 0;

    &.solved .cell.exit {
      animation: solved 1s infinite;
    }

    .cell {
      border: 3px solid white;
      background-color: gray;
      position: relative;
      text-align: center;
      font-size: 3em;
      padding-top: 13px;
      color: darkgrey;

      span {
        font-size: 12px;
        float: left;
      }

      &.exit {
        background-color: dimgray;
        border-color: red;
      }

      &.red {
        background-color: red;
      }

      &.green {
        background-color: green;
      }

      &.blue {
        background-color: blue;
      }

      &.yellow {
        background-color: darkkhaki;
      }

      &.purple {
        background-color: purple;
      }

      &.orange {
        background-color: orange;
      }

      &.selected {
        border-width: 6px;
      }

      &.highlighted {
        border-width: 6px;
        background-color: lightgray;
        border-color: white;
      }
    }


  }
}

@-webkit-keyframes solved {
  0%, 49% {
    background-color: red;
    color: white;
    border-color: white;
  }
  50%, 100% {
    background-color: dimgray;
    color: red;
  }
}
